body {
    background-color: #acdadd;

    padding-top: 50px;

    padding-left: 100px;
    padding-right: 100px;
}

.login-body {

    padding-left: 170px;
    padding-right: 170px;
}

.hide {
    display: none;
}