<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- Restrict URLs based on role -->

    <security:http auto-config="true">

        <security:intercept-url pattern="/welcome*" access="ROLE_ADMIN, ROLE_USER"/>

        <security:form-login login-page="/login"
                             default-target-url="/welcome"
                             authentication-failure-url="/loginfail"/>

        <security:logout logout-url="/logout"/>
    </security:http>

    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="dataSource"
                               users-by-username-query="
                                    SELECT
                                        user_email, user_password
                                    FROM
                                        adviceexchange.user
                                    WHERE
                                        user_email = ?"


                               authorities-by-username-query="
                                    SELECT
                                        user_email, bdg_name
                                    FROM
                                        adviceexchange.user
                                    JOIN
                                        user_badge ON ub_user_id = user_id
                                    JOIN
                                        badge ON ub_badge_id = bdg_id
                                    WHERE
                                        user_email = ?
                                    GROUP BY
                                        bdg_name"
            />
        </security:authentication-provider>
    </security:authentication-manager>

</beans>